In [18]:
%pip install scikit-learn pandas numpy tensorflow

Requirement already satisfied: scikit-learn in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (1.4.1.post1)
Requirement already satisfied: pandas in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Requirement already satisfied: tensorflow in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (2.16.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tensorflow-intel==2.16.1 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow) (2.16.1)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (24.3.7)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.10.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (24.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (4.25.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.31.0)
Requirement already satisfied: setuptools in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (69.2.0)
Requirement already satisfied: six>=1.12.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (4.10.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.62.1)
Requirement already satisfied: tensorboard<2.17,>=2.16 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.1.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.16.1->tensorflow) (0.43.0)
Requirement already satisfied: rich in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (13.7.1)
Requirement already satisfied: namex in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.0.7)
Requirement already satisfied: optree in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.10.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (2024.2.2)
Requirement already satisfied: markdown>=2.6.8 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (3.6)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (3.0.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (2.1.5)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\harih\appdata\roaming\python\python312\site-packages (from rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (2.17.2)
Requirement already satisfied: mdurl~=0.1 in c:\users\harih\appdata\local\programs\python\python312\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [58]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
names = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation",
         "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

data = pd.read_csv(url, names=names, na_values=" ?")
data.dropna(inplace=True)

data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [62]:
cat_cols = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
l = []
for col in cat_cols:
    l.append(dict((i, k) for k, i in [j for j in enumerate(data[col].unique())]))
    data[col] = data[col].map(l[-1])

print(l)

data.head()

[{' State-gov': 0, ' Self-emp-not-inc': 1, ' Private': 2, ' Federal-gov': 3, ' Local-gov': 4, ' Self-emp-inc': 5, ' Without-pay': 6}, {' Bachelors': 0, ' HS-grad': 1, ' 11th': 2, ' Masters': 3, ' 9th': 4, ' Some-college': 5, ' Assoc-acdm': 6, ' 7th-8th': 7, ' Doctorate': 8, ' Assoc-voc': 9, ' Prof-school': 10, ' 5th-6th': 11, ' 10th': 12, ' Preschool': 13, ' 12th': 14, ' 1st-4th': 15}, {' Never-married': 0, ' Married-civ-spouse': 1, ' Divorced': 2, ' Married-spouse-absent': 3, ' Separated': 4, ' Married-AF-spouse': 5, ' Widowed': 6}, {' Adm-clerical': 0, ' Exec-managerial': 1, ' Handlers-cleaners': 2, ' Prof-specialty': 3, ' Other-service': 4, ' Sales': 5, ' Transport-moving': 6, ' Farming-fishing': 7, ' Machine-op-inspct': 8, ' Tech-support': 9, ' Craft-repair': 10, ' Protective-serv': 11, ' Armed-Forces': 12, ' Priv-house-serv': 13}, {' Not-in-family': 0, ' Husband': 1, ' Wife': 2, ' Own-child': 3, ' Unmarried': 4, ' Other-relative': 5}, {' White': 0, ' Black': 1, ' Asian-Pac-Islander': 2, ' Amer-Indian-Eskimo': 3, ' Other': 4}, {' Male': 0, ' Female': 1}, {' United-States': 0, ' Cuba': 1, ' Jamaica': 2, ' India': 3, ' Mexico': 4, ' Puerto-Rico': 5, ' Honduras': 6, ' England': 7, ' Canada': 8, ' Germany': 9, ' Iran': 10, ' Philippines': 11, ' Poland': 12, ' Columbia': 13, ' Cambodia': 14, ' Thailand': 15, ' Ecuador': 16, ' Laos': 17, ' Taiwan': 18, ' Haiti': 19, ' Portugal': 20, ' Dominican-Republic': 21, ' El-Salvador': 22, ' France': 23, ' Guatemala': 24, ' Italy': 25, ' China': 26, ' South': 27, ' Japan': 28, ' Yugoslavia': 29, ' Peru': 30, ' Outlying-US(Guam-USVI-etc)': 31, ' Scotland': 32, ' Trinadad&Tobago': 33, ' Greece': 34, ' Nicaragua': 35, ' Vietnam': 36, ' Hong': 37, ' Ireland': 38, ' Hungary': 39, ' Holand-Netherlands': 40}]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,0,77516,0,13,0,0,0,0,0,2174,0,40,0,<=50K
1,50,1,83311,0,13,1,1,1,0,0,0,0,13,0,<=50K
2,38,2,215646,1,9,2,2,0,0,0,0,0,40,0,<=50K
3,53,2,234721,2,7,1,2,1,1,0,0,0,40,0,<=50K
4,28,2,338409,0,13,1,3,2,1,1,0,0,40,1,<=50K

In [63]:
# Split features and target variable
X = data.drop('income', axis=1)
y = (data['income'] == ' >50K').astype(int)

# Standardize numerical features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [64]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(128, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

c:\Users\harih\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [65]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [66]:
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.1)

Epoch 1/10
679/679 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8164 - loss: 0.3954 - val_accuracy: 0.8392 - val_loss: 0.3358
Epoch 2/10
679/679 ━━━━━━━━━━━━━━━━━━━━ 1s 924us/step - accuracy: 0.8456 - loss: 0.3325 - val_accuracy: 0.8375 - val_loss: 0.3340
Epoch 3/10
679/679 ━━━━━━━━━━━━━━━━━━━━ 1s 981us/step - accuracy: 0.8503 - loss: 0.3260 - val_accuracy: 0.8371 - val_loss: 0.3316
Epoch 4/10
679/679 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8508 - loss: 0.3226 - val_accuracy: 0.8380 - val_loss: 0.3314
Epoch 5/10
679/679 ━━━━━━━━━━━━━━━━━━━━ 1s 919us/step - accuracy: 0.8520 - loss: 0.3176 - val_accuracy: 0.8388 - val_loss: 0.3312
Epoch 6/10
679/679 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8542 - loss: 0.3151 - val_accuracy: 0.8375 - val_loss: 0.3312
Epoch 7/10
679/679 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8537 - loss: 0.3185 - val_accuracy: 0.8384 - val_loss: 0.3319
Epoch 8/10
679/679 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8532 - loss: 0.3135 - val_accuracy: 0.8384 - val_loss: 0.3289
Epoch 9/10
679/679 ━━━━━━━━━━━━━━━━━━━━ 1s 965us/step - accuracy: 0.8534 - loss: 0.3120 - val_accuracy: 0.8351 - val_loss: 0.3333
Epoch 10/10
679/679 ━━━━━━━━━━━━━━━━━━━━ 1s 927us/step - accuracy: 0.8553 - loss: 0.3141 - val_accuracy: 0.8392 - val_loss: 0.3312

In [67]:
loss, accuracy = model.evaluate(X_test, y_test)
accuracy

189/189 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.8444 - loss: 0.3381

0.8466765880584717

In [70]:
new_data = {'age': 39,
            'workclass': ' Private',
            'fnlwgt': 77516,
            'education': ' Bachelors',
            'education-num': 13,
            'marital-status': ' Never-married',
            'occupation': ' Exec-managerial',
            'relationship': ' Not-in-family',
            'race': ' White',
            'sex': ' Male',
            'capital-gain': 2174,
            'capital-loss': 0,
            'hours-per-week': 40,
            'native-country': ' United-States'
}

new_data_df = pd.DataFrame([new_data], columns=new_data.keys())

# Step 2: Preprocess the row
# Encode categorical variables
for k, col in enumerate(cat_cols):
    new_data_df[col] = new_data_df[col].map(l[k])

# Standardize numerical features (apply the same scaling as for the training set)
new_data_scaled = scaler.transform(new_data_df)

# Step 3: Predict
new_prediction = model.predict(new_data_scaled)
predicted_class = (new_prediction > 0.5).astype(int)  # Since we're dealing with binary classification

print("Predicted class:", predicted_class.flatten())

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Predicted class: [0]

: